* {
    margin: 0;
  }

  html {
    height: 100%;
    background-color: #ddeeff;
  }

  body {
    display: block;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
  }

  .header {
    display: block;
    top: 0px;
    right: 0px;
    left: 0px;
    padding-bottom: 25px;
  }

  .logo {
    width: 250px;
    height: 50px;
    padding-top: 30px;
    padding-left: 45px;
  }

  .body {
    display: block;
    min-width: 100%;
    overflow-x: hidden;
  }

  .content {
    display: block;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 34px;
    width: calc(100% - 68px);
  }

  .text {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    width: 60%;
  }

  .pic {
    display: block;
    float: right;
    width: 30%;
  }

  .pitch {
    font-size: 44px;
    padding-top: 98px;
    font-family: Helvetica, sans-serif;
    font-weight: 500;
  }

  .description {
    font-size: 22px;
    padding-left: 0px;
  }

  .description.centered {
    text-align: center;
  }

  .coming-soon {
    font-size: 26px;
    font-weight: bold;
  }

  .footer {
    display: block;
    bottom: 0px;
    background-color: #ddeeff;
    width: 100%;
  }

  .footer-content {
    padding: 25px 3px;
    color: black;
    text-align: center;
    line-height: 28px;
  }

  @media only screen and (max-width: 900px) {
    .text {
      text-align: center;
    }
    .pic {
      width: 50%;
      padding-top: 42px;
      padding-left: 25%;
      padding-right: 25%;
      height: auto;
    }
    .text {
      width: calc(100% - 45px);
    }
  }

  .ios_store_btn:hover {
    cursor: pointer;
  }

  @media only screen and (min-width: 900px) {
    .header {
      padding-bottom: 55px;
    }
    .footer-content {
      padding: 30px 25px;
    }
  }

  @media only screen and (min-width: 900px) {
    @media only screen and (max-height: 560px) {
      .footer {
        margin-top: 55px;
      }
    }

    @media only screen and (min-height: 560px) {
      .footer {
        margin-top: 4%;
      }
    }
  }

  @media only screen and (min-width: 970px) {
    .content {
      padding-left: 50px;
      padding-right: 50px;
      width: calc(100% - 300px);
    }
  }

  @media only screen and (min-width: 1200px) {
    .content {
      padding-left: 88px;
      padding-right: 88px;
      width: calc(100% - 500px);
    }
    .header {
      padding-bottom: 73px;
    }
  }

  @media only screen and (min-width: 1400px) {
    .content {
      width: 1000px;
    }
  }